@charset "UTF-8";
/* CSS Document */
html {
	scroll-behavior: smooth;
}
/* ーーーーーーーーーー 共通 ーーーーーーーーーー */
.title {
	font-family: "Press Start 2P";
	color: #001E81;
	font-size: clamp(32px, 10vw, 85px);
	padding: 50px;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
/* ーーー ヘッダーナビゲーション ーーー */
.index_header {
	background-color: #EAF0FF;
	height: 650px;
}
.index_header_nav img {
	width: 100%;
	max-width: 250px;
	transition: transform 0.5s;
}
.index_header_nav a:hover img {
	transform: translateY(-10px);
}
.index_header_nav {
	display: flex;
	justify-content: space-between;
	margin-top: -350px;
}

/* ーーーーーーーーーー インデックス内ギャラリーリンク ーーーーーーーーーー */
.gallery_link img {
	width: 100%;
	max-width: 950px;
	padding-top: 100px;
	transition: transform 0.5s;
}
.gallery_link img:hover {
	transform: scale(1.05);
}
.gallery_link .wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ーーーーーーーーーー フッター ーーーーーーーーーー */
footer {
	background-color: #EAF0FF;
	margin-top: 150px;
	padding: 60px 0;
}
.footer_title{
	margin-bottom: 50px;
}
.footer_title  a{
	font-family: "Press Start 2P";
	color: #001E81;
	font-size: 50px;
}
.footer_nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer_nav ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
	list-style: none;
}
.footer_text a {
	font-family: "dotgothic16";
	text-decoration: underline;
	font-size: 40px;
	color: #001E81;
}
.footer_text a:hover {
	color: #7dbaff;
}

/* ーーーーーーーーーー アバウト ーーーーーーーーーー */
.about_profile {
	background-color: #EAF0FF;
}
.about_profile .wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 80px 0;
}
.about_profile img {
	width: 100%;
	max-width: 480px;
}
.about_profile_text {
	font-family: "dotgothic16";
}
.about_profile_text h2 {
	font-size: 120px;
	color: #001E81;
	padding-bottom: 30px;
}
.about_profile_text p {
	font-size: 40px;
	color: #001E81;
}
/* ーーー プロフィール詳細 ーーー */
.about_profile_detail {
	padding-top: 40px;
}
.about_profile_detail .wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about_profile_detail img {
	height: 100%;
	max-height: 400px;
}

/* ーーーーーーーーーー ギャラリー ーーーーーーーーーー */
.gallery_header {
	background-color: #EAF0FF;
	height: 350px;
}
.gallery_nav_top {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.gallery_nav_top img{
	width: 100%;
	max-width: 180px;
	position: relative;
	z-index: 1;
	transition: transform 0.5s;
}
.gallery_nav_top img:hover {
	transform: translateY(-20px);
}
/* ーーー ギャラリーナビ下部 ーーー */
.gallery_nav_under {
	position: relative;
	z-index: 2;
	margin-top: -30px;
	background-color: #ffff;
	border-top: 7px solid #001E81;
	padding-bottom: 100px;
}
.gallery_nav_under ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
}
.gallery_nav_under li{
	font-family: "dotgothic16";
	font-size: 40px;
	color: #001E81;
	width: 100%;
	max-width: 180px;
	text-align: center;
}
/* ーーー ギャラリーコンテンツ共通 ーーー */
.gallery_contents_section {
	margin-top: 100px;
}
.gallery_contents_title {
	display: flex;
	gap: 20px;
	padding: 0 20px;
}
.gallery_contents_title h2 {
	font-family: "dotgothic16";
	color: #001E81;
	font-size: 90px;
}
.gallery_contents_title img {
	width: 100%;
	max-width: 120px;
	transition: transform 0.5s;
}
.gallery_contents_title_underline {
	display: inline-block;
	border-bottom: 4px solid #001E81;
}
/* ーーー 作品画像共通 ーーー */
.gallery_contents_image {
	margin-top: 70px;
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: space-around;
}
.gallery_contents_image a {
	font-family: "dotgothic16";
	color: #001E81;
	font-size: 40px;
	text-align: center;
	transition: transform 0.5s;
}
.gallery_contents_image a:hover {
	transform: scale(1.05);
}
.gallery_contents_image img {
	width: 100%;
	max-width: 350px;
}
/* ーーーパッケージ ーーー */
#gallery_package {
	margin-top: 150px;
}

/* ーーーーーーーーーー ダウンロード ーーーーーーーーーー */
.download_distribution {
	background-color: #EAF0FF;
}
.download_distribution .wrap{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.download_distribution img{
	width: 100%;
	max-width: 350px;
	padding: 50px 0;
}
/* ーーー アップローダーリンク ーーー */
.download_uploader {
	text-align: center;
	padding-bottom: 80px;
}
.download_uploader p{
	font-family: "dotgothic16";
	font-size: 30px;
	color: #001E81;
	text-align: center;
	margin: 100px 0;
}
.download_uploader a{
	font-family: "dotgothic16";
	font-size: 50px;
	color: #ffffff;
	text-align: center;
	background-color: #001E81;
	padding: 35px;
	transition: background-color 0.3s, color 0.3s;
}
.download_uploader a:hover {
	background-color: #7dbaff;
	color: #001E81;
}

/* ーーーーーーーーーー お問い合わせ ーーーーーーーーーー */
.contact_section {
	background-color: #EAF0FF;
	text-align: center;
}
.contact_section iframe {
	width: 100%;
}
.contact_footer footer {
	margin-top: 0;
	/* contactのみフッターのmargin-topを消している */
}