@charset "UTF-8";
/* CSS Document */

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.wrap img {
	width: 100%;
	max-width: 600px;
}

.gallery-page_text {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	margin: auto 0;
	font-family: "dotgothic16";
	color: #001E81;
	text-align: center;
}
.gallery-page_text h1 {
	font-size: 45px;
	margin: 0 15px 40px 15px;
}
.gallery-page_text p {
	font-size: 25px;
	margin: 0 20px;
}
.wrap a {
	font-family: "Press Start 2P";
	color: #001E81;
	font-size: 45px;
	text-decoration: underline;
	margin: 150px 0 50px 0;
}
.wrap a:hover {
	color: #7dbaff;
}